# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/frontend/node_modules
src/backend/venv/
src/backend/uploads/
src/backend/.venv/
src/backend/env/
src/backend/.env/
src/backend/modules/__pycache__
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
src/frontend/.next/
src/frontend/public/extracted/
src/frontend/public/query/
src/out/

# production
/build

# misc
.DS_Store
*.pem
src/backend/__pycache__/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
node_modules
